/* ===main_part=== */

@media (max-width: 1810px) {
    .container_b {
        max-width: 98%;
        margin: 0 auto;
    }
}

@media (max-width: 1530px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 1300px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .logo,
    .list,
    .list_2 {
        margin: 20px;
    }
    
    .header .content {
        opacity: 0;
    }
}

@media (max-width: 1120px) {
    .footer_texts {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .footer_logo,
    .same {
        margin: 20px;
    }
}

@media (max-width: 740px) {
    .list,
    .list_2 {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .list  li,
    .list_2 li  {
        margin: 10px;
    }
}

@media (max-width: 1345px) {
    .section_3-intro {
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 465px) {
    .section_1-title,
    .section_2-text,
    .section_3-intro p{
        font-size: 25px;
    }
}

/* ===main_part=== */


@media (max-width: 374px) {
    .section_2-title {
        font-size: 20px;
    }
    
    .main_text p {
        font-size: 12px;
    }
}