/* ===main_part=== */

@media (max-width: 1810px) {
    .container_b {
        max-width: 98%;
        margin: 0 auto;
    }
}

@media (max-width: 1530px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 1300px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .logo,
    .list,
    .list_2 {
        margin: 20px;
    }
    
    .header .content {
        opacity: 0;
    }
}

@media (max-width: 1120px) {
    .footer_texts {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .footer_logo,
    .same {
        margin: 20px;
    }
}

@media (max-width: 740px) {
    .list,
    .list_2 {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .list  li,
    .list_2 li  {
        margin: 10px;
    }
}

@media (max-width: 1345px) {
    .section_3-intro {
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 465px) {
    .section_1-title,
    .section_2-text,
    .section_3-intro p{
        font-size: 25px;
    }
}

/* ===main_part=== */

@media (max-width: 1530px) {
    .delivering {
        max-width: 90%;
        margin: 0 auto;
    }
    
    .block {
        margin: 10px;
    }
}


@media (max-width: 992) {
    .service_title {
        font-size: 14px;
    }
    
    .service_text {
        font-size: 12px;
    }
    
    p.def {
        font-size: 13px;
    }
}

@media(max-width: 918px) {
    .service {
        flex-direction: column;
        align-items: center;
    }
    
    .def {
        margin: 30px 0;
        margin-left: -215px;
    }
    
    .def_2 {
        margin: 30px 0;
    }
    
    .def::before,
    .def_2::before {
        content: '';
        width: 0;
        height: 0;
    }
}

@media (max-width: 1200px){
    .row {
    flex-wrap: wrap;
    justify-content: space-around;}
}

@media (max-width: 722px){
    .row_intro {
    justify-content: space-around;
    flex-wrap: wrap;}
}